<!DOCTYPE html>
<html lang="en" ng-app="registrationApp">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">

</head>
<body ng-controller="RegisterController as ctrl">

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

    <form name="registrationform" novalidate ng-submit="ctrl.addUser()" onsubmit="submitted()">
        <legend>Registration Form</legend>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Key in your name"
                   ng-model="ctrl.newUser.name" required>
            <span ng-show="registrationform.name.$error.required">This is a required field</span>
        </div>

        <legend>Gender</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" id="gender-id-1" value="male" ng-model="ctrl.newUser.gender">
                    Male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" id="gender-id-2" value="female" ng-model="ctrl.newUser.gender">
                    Female
                </label>
            </div>

            <div class="form-group">
                <label for="dateofbirth-id">Date of Birth</label>
                <input type="date" class="form-control" name="dateofbirth" id="dateofbirth-id" max="1998-01-01"
                       ng-model="ctrl.newUser.dateofbirth" required>
                <span ng-show="registrationform.dateofbirth.$error.required">This is a required field</span>
                <span ng-show="registrationform.dateofbirth.$invalid">Registrant should be at least 18 years old</span>

            </div>

            <div class="form-group">
                <label for="address-id">Address</label>
                <input type="text" class="form-control" name="address" id="address-id"
                       ng-model="ctrl.newUser.address" required>
                <span ng-show="registrationform.address.$error.required">This is a required field</span>
            </div>

            <div class="form-group">
                <label for="country-id">Country</label>
                <input type="text" class="form-control" name="country" id="country-id"
                       ng-model="ctrl.newUser.country" required>
                <span ng-show="registrationform.country.$error.required">This is a required field</span>
            </div>

            <div class="form-group">
                <label for="contactnumber-id">Singapore Contact Number</label>
                <input type="tel" pattern="^\d{8}$" class="form-control" name="contactnumber" id="contactnumber-id"
                       ng-model="ctrl.newUser.contactnumber" required>
                <span ng-show="registrationform.contactnumber.$error.required">This is a required field</span>
                <span ng-show="registrationform.contactnumber.$invalid">Your Contact Number contains invalid characters</span>

            </div>

            <div class="form-group">
                <label for="email-id">Email address</label>
                <input type="email" class="form-control" name="email" id="email-id" placeholder="What is your email?"
                       ng-model="ctrl.newUser.email" required>
                <span ng-show="registrationform.email.$error.required">This is a required field</span>
                <span ng-show="registrationform.email.$invalid">This is not an email</span>

            </div>

            <div class="form-group">
                <label for="password-id">Password</label>
                <input type="password" class="form-control" name="password" id="password-id" placeholder="Password" ng-model="ctrl.newUser.password" required>
                <span ng-show="registrationform.password.$error.required">This is a required field</span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


</body>

<script src="jquery/dist/jquery.js"></script>
<script src="angular/angular.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
</html>